<a href="https://colab.research.google.com/github/ygthanygt/learning-area/blob/main/python/PythonTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Learn Python Basics

In [7]:
x = "Hello World" # string
x = 50  # integer
x = 60.5  # float
x = 3j  # complex
x = ["geeks", "for", "geeks"]  # list
x = ("geeks", "for", "geeks")  # tuple
x = {"name": "Suraj", "age": 24} # dict
x = {"geeks", "for", "geeks"} # set
x = True  # bool
x = b"Geeks" # binary

In [9]:
val = input("Enter your value: ")
print(val)

Enter your value: 34
34

In [10]:
a = 9
b = 4
add = a + b

sub = a - b

mul = a * b

mod = a % b

p = a ** b
print(add)
print(sub)
print(mul)
print(mod)
print(p)

13
5
36
1
6561

In [11]:
a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [12]:
a = 10
b = 4
print(a & b)
print(a | b)
print(~a)
print(a ^ b)
print(a >> 2)
print(a << 2)

0
14
-11
14
2
40

In [13]:
a = 10
b = a
print(b)
b += a
print(b)
b -= a
print(b)
b *= a
print(b)
b <<= a
print(b)

10
20
10
100
102400

In [14]:
i = 20
if (i < 15):
    print("i is smaller than 15")
else:
    print("i is greater than 15")

i is greater than 15

In [15]:
i = 20
if (i == 10):
    print("i is 10")
elif (i == 15):
    print("i is 15")
elif (i == 20):
    print("i is 20")
else:
    print("i is not present")

i is 20

In [16]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [17]:
# Python program to illustrate while loop
count = 0
while (count < 3):
    count = count + 1
    print("Hello Geek")

Hello Geek
Hello Geek
Hello Geek

In [18]:
def evenOdd(x):
    if (x % 2 == 0):
        print("even")
    else:
        print("odd")


# Driver code to call the function
evenOdd(2)
evenOdd(3)

even
odd

#Syntax

In [19]:
a = 10
print(type(a))

b = 'GeeksforGeeks'
print(type(b))

<class 'int'>
<class 'str'>

In [21]:
# Line continuation within square brackets '[]'
numbers = [
    1, 2, 3,
    4, 5, 6,
    7, 8, 9
]

# Line continuation within parentheses '()'
result = max(
    10, 20,
    30, 40
)

# Line continuation within curly braces '{}'
dictionary = {
    "name": "Alice",
    "age": 25,
    "address": "123 Wonderland"
}

print(numbers)
print(result)
print(dictionary)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
40
{'name': 'Alice', 'age': 25, 'address': '123 Wonderland'}

In [20]:
def print_table(n):
  for i in range(1,11):
    print(i*n)

print_table(4)

4
8
12
16
20
24
28
32
36
40